.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-primary);
}

.main h1{
    color: var(--white);
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.optHead label{
    color: var(--green);
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.optPass{
  color: var(--white);
  font-size: 0.8rem;
  letter-spacing: 1px;
  gap: 1rem;
}

.copyPass{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    width: 20rem;
    height: 3rem;
    background: var(--bg-color-secondary);
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: hidden;
}
.copyPass p{
    color: var(--white);
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.copyPass img{
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    filter: invert(1);
    fill: var(--green);
}

.optPass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 20rem;
    height: 25rem;
    background: var(--bg-color-secondary);
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1rem;
}

.optHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
}

input[type="range"] {
  -webkit-appearance: none;
  background: var(--green);
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--bg-color-primary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid var(--green);
  cursor: pointer;
  transition: .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

.box input {

  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  width: 20px;
  height: 20px;
  background-color: var(--bg-color-primary);
  border: 2px solid var(--green);
  outline: none;
  margin-right: 8px;
  cursor: pointer;
}

.box input::before {
  content: "";
  width: 30px;
  height: 30px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--green);
}

 input:checked::before {
  transform: scale(1);
}

.box p{
  color: var(--white);
  font-size: 20px;
  letter-spacing: 2px;
}


.level{
  height: 3rem;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color-primary);  
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.password-options .strength .category{
  color: var(--white);
}
.generate-password{
  width: 100%;
  height: 80px;
  color: var(--bg-color-secondary);
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 4px solid var(--green);
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .4s ease-in-out;
}

.generate-password p{
  font-size: small;
}

.generate-password:hover{
  color: var(--green);
  background-color: var(--bg-color-secondary);
}

.generate-password:active{
  transform: scale(0.95);
  opacity: 0.8;
}

.validation{
  color: var(--danger);
  font-size: 16px;
  letter-spacing: 2px;
}